/* introduction */
#introduction{
    height: 100vh;
    background-image: url('../png/image/introduction.png');
    background-size: cover; /* Makes image responsive */
}

.nav a{
    color: white;
}

.introduction-container{
    color: white; 
    margin-left: 15%;
    margin-top: 5%;
}

.introduction-container h1{
    font-size: 5rem;
    font-weight: bolder;
}

.custom-signup{
    margin-top: 3%;
}

/* overview */
#overview{
    display: flex;
    width: 100%;
    height: auto;
}

.overview-img-container{
    position: relative;
    width: 60%;
    height: 100vh;
    align-items: end;
}
.background-overview-img{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.overview-img1{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 2;
    top: 100px;
    right: 0;
}

.overview-img2{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.overview-img3{
    position: absolute;
    top: 350px;
    right: 20px;
    z-index: 1;
}

.overview-container{
    width: 40%;
    height: 100vh;
    padding-top: 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
