/* Introduction section */
#introduction {
    min-height: 90vh;
    background-image: url('../images/photos/introduction3.png');
    background-size: cover;
    background-position: center;
}

.nav a {
    color: white;
}

.introduction-container {
    color: white;
    margin-top: 8%;
}

.introduction-container h1 {
    font-size: 7rem;
    font-weight: bolder;
    text-align: center;
}

.introduction-container h3 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

/* Program overview */
.program-overview-container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.program-overview-card {
    width: auto;
    max-width: 400px;
    height: auto;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* program */

#programs {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}


.program-title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}

.group-img {
    border-radius: 10px;
    height: auto;
    /* object-fit: cover; */
    max-width: 100%;
}

.group-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.group-title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.group-description p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 20px 0;
}

.container{
    margin: auto;
}

.individual-img{
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.individual-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.individual-title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.individual-description p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 20px 0;
}

@media (max-width: 991px) {
    .program-overview-card {
        height: auto;
        width: 80vw;
    }
    .group-details {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding: 10px;
        height: auto;
    }

    .group-description p {
        text-align: center;
    }

    .individual-details {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding: 10px;
        height: auto;
    }

    
}