.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75vh;
}

.signup-container {
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  min-width: 500px;
  transition: transform 0.3s ease-in-out;
}

.signup-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.signup-container h1 {
  margin-bottom: 20px;
  color: #007bff;
  font-weight: bolder;
  font-size: 3rem;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.submitbtn,
.resetbtn {
  width: 48%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 550px) {
  .signup-container {
    min-width: 95vw;
  }
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 0px;
}
