* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  background-color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  color: #f0f0f0;
  background-color: #333;
}

.logo {
  order: 0;
}

.nav-container {
  margin-right: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 0px;
}

.nav-auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}

.menu-button {
  display: none;
  position: absolute;
  left: 30px;
  top: 10px;
  order: 1;
}

.slidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: black;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.slidebar li {
  width: 100%;
}

.slidebar a {
  width: 100%;
}

.slidebar .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.slidebar .auth-buttons {
  margin-top: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.auth-buttons button {
  width: 80%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    margin-left: 0px;
  }
  nav ul {
    justify-content: space-between;
  }
  .logo {
    margin-left: auto;
    order: 2;
  }
}
